:root{
    --primary-color:#13BE98;
    --text-color:#FFFFFF;
    --text-color-light:#787975;
    --background-color-light:#FBFBFB;
    --background-color-dark:#153E52;
    --background-color-textbox:#787975;
    --background-color-callme:#153e52;
}

